.blog {
  width: 100%;
  box-sizing: border-box;
  margin: 96px 0 0 0;
}
.blog .blog-section {
  /* width: 100%; */
  display: flex;
  flex-flow: column;
  padding: 0px 30px;
}
.blog .blog-section .tilte-section {
  width: inherit;
  height: 56px;
  margin-bottom: 48px;
  padding: 0 0;
  
}
.blog .blog-section .tilte-section h4 {
  color: #1d2130;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 56px */
  margin-bottom: 48px;
}
.blog-posts-child{
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.blog .blog-section .blog-posts {
  width: inherit;
  /* height: 328px; */
  display: flex;
  flex-flow: column;
  gap: 40px;
}
.blog .blog-section .blog-posts .blog-post {
  /* width: 250px; */
  /* height: 328px; */
  /* padding: 0 10px; */
  text-align: center;
}
.blog .blog-section .blog-posts .blog-post img {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  object-fit: cover;
}
.blog .blog-section .blog-posts .blog-post h5 {
  color: #1c1d28;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  /* width: 290px; */
  padding: 0 10px;
}
.blog .blog-section .blog-posts .blog-post p {
  color: #525560;
  font-family: Roboto;
  /* width: 290px; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  padding: 0 10px;
}
